<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Keysharp</vendor>
  <vendor_url>https://github.com/keysharp-org/keysharp-desktop</vendor_url>
  <action id="org.keysharp.desktop.grant">
    <description>Grant requested desktop capabilities</description>
    <message>$(polkit.message)</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_self</allow_active>
    </defaults>
  </action>
</policyconfig>
